@import 'system'

.index
	text-align center
	margin auto
	img
		width 200px
		height auto
	.btn
		display: block
		text-align: center
	a
		color default_color
		text-decoration none
		font-family: default_font
		&:hover
			color primary_color